<div class="container-fluid">
  <div class="row footer-one">
    <div class="section-1">
      <h1>CarLD</h1>
      <p>Enjoy your time checkout here</p>
    </div>

    <div class="section-2">
      <h4>Policy Info</h4>
      <ul>
        <li>Read the policy</li>
      </ul>
    </div>

    <div class="section-3">
      <h4>Company</h4>
      <ul>
        <li>Company LD</li>
      </ul>
    </div>

    <div class="section-4">
      <h4>Business Info</h4>
      <ul>
        <li>Business LD</li>
      </ul>
    </div>

    <div class="section-5">
      <input type="text" placeholder="Your email Address" />
      <button>Subscribe</button>
    </div>
  </div>

  <div class="row">
    <div class="col footer-two">
      <span>Copyrights 2021, All Rights Reserved 2021</span>
    </div>
  </div>
</div>
