<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      style="height: 580px"
      class="d-block w-100"
      src="https://cdn.wallpapersafari.com/89/83/Kj1lV3.jpg"
      alt="First slide"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      style="height: 580px"
      class="d-block w-100"
      src="https://images.hdqwalls.com/download/medatsun-jdm-240z-52-1600x900.jpg"
      alt="Second slide"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      style="height: 580px"
      class="d-block w-100"
      src="https://c.wallhere.com/photos/b0/58/1600x900_px_car_toyota-628269.jpg!d"
      alt="Third slide"
    />
  </mdb-carousel-item>
</mdb-carousel>
